<div class="container">
    <h1 class="fw-bold">Inicio de sesión</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            
            <form autocomplete="off" #formulario="ngForm" (ngSubmit)="login(formulario)">
                
                <mat-form-field class="mb-2 d-block" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" name="email"
                        [(ngModel)]="credentials.username"
                        required
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        #email="ngModel">
                    
                    <mat-error>
                        <ng-container *ngIf="email.hasError('required')">
                            Este campo es obligatorio
                        </ng-container>
                        <ng-container *ngIf="email.hasError('pattern')">
                            Ingrese un email válido
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mb-2 d-block" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" name="password"
                        [(ngModel)]="credentials.password"
                        required
                        #password="ngModel">

                    <mat-error>
                        <ng-container *ngIf="password.hasError('required')">
                            Este campo es obligatorio
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <button class="w-100" mat-raised-button color="primary">
                    Ingresar
                </button>
            </form>

        </div>
    </div>

</div>