<div class="container">
    <h1>Registro de usuario</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <form class="mt-5" autocomplete="off" [formGroup]="formulario" (ngSubmit)="registrar()">
                <mat-form-field class="mb-2 d-block" appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput type="text" placeholder="Nombres" formControlName="nombres">

                    <mat-error *ngIf="controlTieneError('nombres', 'required')">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mb-2 d-block" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" placeholder="Apellidos" formControlName="apellidos">

                    <mat-error *ngIf="controlTieneError('apellidos', 'required')">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mb-2 d-block" appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="text" placeholder="Correo electrónico" formControlName="email">

                    <mat-error>
                        <ng-container *ngIf="controlTieneError('email', 'required')">
                            Este campo es obligatorio
                        </ng-container>
                        <ng-container *ngIf="controlTieneError('email', 'email')">
                            Ingrese un email válido
                        </ng-container>

                        <ng-container *ngIf="controlTieneError('email', 'emailExiste')">
                            El email ya fue registrado
                        </ng-container>

                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mb-2 d-block" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="passwordVisible ? 'text' : 'password'" placeholder="Contraseña" formControlName="password">
                    <mat-icon matSuffix (click)="passwordVisible = !passwordVisible">
                        {{ passwordVisible ? 'visibility_off' : 'visibility' }}
                    </mat-icon>

                    <mat-error>
                        <ng-container *ngIf="controlTieneError('password', 'required')">
                            Este campo es obligatorio
                        </ng-container>
                        <ng-container *ngIf="controlTieneError('password', 'minlength')">
                            La contraseña debe tener al menos 4 caracteres
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <div class="text-end">
                    <button mat-raised-button color="primary">
                        Registrarme
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>