<mat-toolbar color="primary">
    <span>Menu</span>      
    
    <button mat-button routerLink="/" class="ms-3">
      Inicio
    </button>   
    
    <button mat-button routerLink="pacientes" class="ms-3">
      Pacientes
    </button> 


    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuUsuario">
      <mat-icon>account_circle</mat-icon> {{ name }}
  </button>

  <mat-menu #menuUsuario="matMenu">
      <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
  </mat-menu>
    
  </mat-toolbar>

  <div class="container py-5"> 
    <router-outlet></router-outlet>
</div>
