
<!--
<h1>Lista de pacientes</h1>

<div class="text-end"> 
    <button class="btn btn-primary" routerLink="/pacientes/nuevo">
        Nuevo paciente 
    </button> 
</div>

<table class="table table-hover mt-5">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>A Paterno</th>
            <th>A Materno</th>
            <th>Num. Expediente</th>
            <th>Tel. Contacto</th>
            <th>Fecha de Nacimiento</th>
            <th>Estado</th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes">
            <td>
                
                    {{ paciente.nombre }}
                
            </td>
            <td>
                
                    {{paciente.apePat}} 
                
            </td>
           
            <td>
                {{paciente.apeMat}}
            </td>
            <td>
                {{paciente.numExp}}
            </td>

            <td>
                {{paciente.telContacto}}
            </td>

            <td>
                {{paciente.fechaNacimiento | date:'dd/MM/yyyy'}}
            </td>

            <td>
                {{paciente.estado}}
            </td>
        
            <td> 
                <button [routerLink]="['/pacientes', paciente.idPaciente, 'editar']">
                     Editar                     
                </button> 
                <button href="#" class="ms-2" (click)="eliminar(paciente)"> 
                    Eliminar 
                </button> 
            </td>
        </tr>
    </tbody>
</table>
-->