<mat-toolbar>
    <span>Agenda</span>      
    
    <button mat-button routerLink="/" class="ms-3">
      Inicio
    </button>   
    
    <button mat-button routerLink="/pacientes" class="ms-3">
      Pacientes
    </button> 

    <button mat-button routerLink="/admin/pacientes" class="ms-3" *ngIf="isAdmin()">
        Administrar Pacientes
      </button> 


    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuColector" [matBadge]="items.length">
      <mat-icon>group_add</mat-icon>
    </button>

<mat-menu #menuColector="matMenu">
  <ng-container *ngIf="items.length > 0, else sinItems">
    <button mat-menu-item *ngFor="let item of items" class="colector-item">
      <div class="d-flex gap-3">
        <img [src]="item.rutaPortada | apiImg" 
        alt="" 
        style="max-width: 64px; max-height: 64px;"> 
  
        <div class="info">
          <div class="fw-bold mb-1">
              {{ item.nombre }}
          </div>          
              {{ item.numExp}}
              
          </div>
      </div>
    
  </button>      
  </ng-container>  


    <button mat-menu-item class="text-center" routerLink="/colector">
      Ir al grupo
    </button>

 
  <ng-template #sinItems>
    <button mat-menu-item class="text-center">
      El grupo esta vacio
    </button>
  </ng-template>
 

  
</mat-menu>

<ng-container *ngIf="isLoggedIn(); else botonesAuth">
  <button mat-button [matMenuTriggerFor]="menuUsuario">
      <mat-icon>account_circle</mat-icon> {{ name }}
  </button>

  <mat-menu #menuUsuario="matMenu">
      <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
  </mat-menu>
</ng-container>

<ng-template #botonesAuth>
  <button mat-button routerLink="/auth/login" class="ms-2">
      Iniciar sesión
  </button>

  <button mat-raised-button routerLink="/auth/registro" color="primary" class="ms-2">
      Registrarme
  </button>
</ng-template>

    
  </mat-toolbar>

  
    <router-outlet></router-outlet>


