

<h1>Lista de Pacietes</h1>

<div class="text-end">
    <button mat-raised-button color="primary" routerLink="/admin/pacientes/nuevo">
        Nuevo paciente
    </button>
</div>

<div class="mat-elevation-z8 mt-5" *ngIf="pacientePage">
    <table mat-table [dataSource]="pacientePage.content">  
      <!-- Position Column -->
      <ng-container matColumnDef="numExp">
        <th mat-header-cell *matHeaderCellDef > Numero de Expediente </th>
        <td mat-cell *matCellDef="let paciente">  
            <div class="d-flex gap-2">
                <img [src]="paciente.rutaPortada | apiImg" alt="" style="max-width: 96px; max-height: 96px;"> 
            
                <div class="fw-bold">
                    {{paciente.numExp}} 
                </div>                  
            </div>            
        </td>
      </ng-container>

  
       <!-- Name Column -->
       <ng-container matColumnDef="nombre" >
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let paciente"> 
            {{ paciente.nombre  }}    
        </td>
      </ng-container> 
  
  
      <!-- Name Column -->
    
      <ng-container matColumnDef="apePat">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let paciente"> 
            {{ paciente.apePat}}    
        </td>
      </ng-container>  
   


     
       <ng-container matColumnDef="apeMat">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let paciente"> 
            {{ paciente.apeMat }}    
        </td>
      </ng-container>  
   

      
     
       <ng-container matColumnDef="telContacto">
        <th mat-header-cell *matHeaderCellDef> Tel. Contaco </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.telContacto}} </td>
      </ng-container>
 

 
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha. Nacimiento </th>
        <td mat-cell *matCellDef="let paciente">  
            {{paciente.fechaNacimiento | date:'dd/MM/yyyy'}} 
        </td>
      </ng-container>
       

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.Estado}} </td>
      </ng-container> 
 


      
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let paciente"> 
            <button [routerLink]="['/admin/pacientes', paciente.idPaciente, 'editar']" matTooltip="Editar paciente" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="ms-2" (click)="eliminar(paciente)" matTooltip="Eliminar libro" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>    
        </td>
      </ng-container>
    
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [length]="pacientePage.totalElements"
    [pageSize]="pacientePage.size"
    (page)="paginarPacientes($event)">
    </mat-paginator>
    
  
  </div>